[submodule "scion"]
	path = scion
	url = git@github.com:tcinbis/scion.git
	branch = scionlab
[submodule "quic-go"]
	path = quic-go
	url = git@github.com:tcinbis/quic-go.git
	branch = tcinbis/flowtele-v0.21.0
